<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" name="Hello" monitorInterval="10">
               
  <Properties>
    <Property name="logpath">/tmp</Property>
    <Property name="logfile">hello</Property>
  </Properties>
 
  <Appenders>
    <RollingFile name="RollingFile" fileName="${logpath}/${logfile}.log"
        filePattern="${logpath}/${logfile}_%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{1}.%method() - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
  </Appenders>
 
  <Loggers>
    <Logger name="org.example.servlets" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
 
</Configuration>
